.FeedbackBasic__Container {
  position: fixed;
  right: 20px;
  top: 20px;
}

.FeedbackBasic__Container div:not(:last-of-type) {
  margin-bottom: 10px;
}

.FeedbackBasic__Item {
  animation: slideIn 0.4s;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  padding-right: 30px;
  position: relative;
  width: 250px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
}

.FeedbackBasic__Item--closing {
  opacity: 0;
  transform: translateX(60px);
  animation: slideOut 0.4s;
}

.FeedbackBasic__Item--success {
  background: #07c56c;
}

.FeedbackBasic__Item--warning {
  background: #f5a105;
}

.FeedbackBasic__Item--error {
  background: #f83c32;
}

.FeedbackBasic__Item--info {
  background: #f4f4f4;
  color: #333;
}

.FeedbackBasic__CloseButton {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(60px);
  }
}
