.ButtonGroup button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.Button {
  background: #ccc;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.Button--success {
  background: #07c56c;
}

.Button--success:hover,
.Button--success:focus {
  background: #61d49f;
}

.Button--warning {
  background: #f5a105;
}

.Button--warning:hover,
.Button--warning:focus {
  background: #ffc251;
}

.Button--error {
  background: #f83c32;
}

.Button--error:hover,
.Button--error:focus {
  background: #f75f57;
}

.Button--info {
  background: #f4f4f4;
  color: #333;
}

.Button--info:hover,
.Button--info:focus {
  background: #f9f9f9;
}
